## 6.1 텍스트 파일 - 데이터 읽고 쓰기

In [1]:
import numpy as np
import pandas as pd
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

* __read_csv :  ' , ' 쉼표__ 로 데이터 구분
* __read_tabel : ' \t ' 탭__으로 데이터 구분

In [2]:
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

#### DataFrame으로 읽어오기 :  
>__df =__ pd.read_csv(' examples / ex1.csv ')  
>df

In [3]:
df = pd.read_csv('examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### read_table에서 쉽표로 데이터 구분 :
> pd.read_table(' examples / ex1.csv ' , __sep=' , '__)

In [4]:
pd.read_table('examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### column name 자동생성:
> pd.read_csv(' examples / ex2.csv ' , __header = None__)

In [5]:
!type examples\ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [6]:
pd.read_csv('examples\ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

#### column name 직접지정:
 > pd.read_csv(' examples / ex2.csv ' , __names = [ '이름 1' , '이름 2' , '이름 3' ,  '이름 4' ]__)

In [7]:
pd.read_csv('examples\ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 특정 column을 index로 하는 DataFrame 반환 :  
  > names = [ '이름 1' , '이름 2' , '이름 3' ,  '이름 4' ]  
  > pd.read_csv(' examples / ex2.csv ' , names = names, __index_col = ' 지정할 column 이름 '__)

In [8]:
names=['a','b','c','d','message']

pd.read_csv('examples\ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

#### 계층적 index 가진 DataFrame 반환 :  
   > pd.read_csv(' examples / ex2.csv ' , names = names, __index_col = [' column 번호 / 이름 리스트 ']__)

In [9]:
!type examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [10]:
parsed = pd.read_csv('examples/csv_mindex.csv',
                      index_col = ['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

#### 공백 문자 필드 처리
   > 정규표현식 __sep = ' \ s + '__

In [11]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [13]:
result = pd.read_table('examples/ex3.txt', sep='\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

#### 특정 row 건너뛰기 :
   > pd.read_csv(' examples / ex3.csv ' , __skiprows = [ 건너뛸 row 이름 ]__)

In [15]:
!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [16]:
pd.read_csv('examples/ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

#### 누락값 처리 - Pandas default : NA

In [18]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [19]:
result = pd.read_csv('examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

> __na_values = [ '리스트 / 문자열 집합']__

In [20]:
result = pd.read_csv('examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

#### column마다 다른 NA 문자로 처리 - dictionary형 이용
> dictionary = { 'col_1' : [ ' val_1 ' , ' 바꿀값 ' ] , 'col_2' : [ ' val_2 ' ] }

In [21]:
sentinels  = {'message': ['foo', 'NA'], 'something' : ['two']}

pd.read_csv('examples/ex5.csv', na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### 6.1.1 텍스트 파일 조금씩 읽기

* 최대 10개 데이터만 출력하도록 Pandas 출력 설정 변경

In [22]:
pd.options.display.max_rows = 10

In [23]:
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

#### 처음 몇 줄만 읽기
> __nrows =__ 읽어올 줄 수

In [24]:
pd.read_csv('examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

### 6.1.2 데이터를 텍스트 형식으로 기록하기

#### 쉼표로 구분된 형식으로 쓰기
> __to_csv__

In [25]:
data = pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [27]:
data.to_csv('examples/out.csv')

!type examples\out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

#### 구분자 지정
> __sep =__' 사용할 구분자 '

In [42]:
import sys

data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

#### 비어있는 누락값 지정
> __na_rep =__ ' 지정값 '

In [43]:
data.to_csv(sys.stdout, na_rep = 'NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

#### row, column 포함 안함
default : row, column 이름 포함
> __index = False, header = False__

In [40]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

#### column 일부만 기록 & 순서 직접 지정
> __columns = [__ 원하는 순서대로 __' column 이름 ' ]__

In [45]:
data.to_csv(sys.stdout, index=False, columns=['a','c','b'])

a,c,b
1,3.0,2
5,,6
9,11.0,10

#### Series에 to_csv

In [48]:
dates = pd.date_range('1/1/2000', periods=7)

ts = pd.Series(np.arange(7), index=dates)

ts.to_csv('examples/tseries.csv')

!type examples\tseries.csv

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """

2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

### 6.1.3 구분자 형식 나누기

In [50]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

#### 구분자가 한 글자인 파일
내장 csv 모듈 이용
> csv.reader

In [51]:
import csv

f = open('examples/ex7.csv')

reader = csv.reader(f)

In [53]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

\- 큰 따옴표 제거된 튜플 얻음

#### 원하는 형태로 데이터 넣기
1. 파일을 읽을 줄 단위 리스트로 저장

In [55]:
with open('examples/ex7.csv') as f:
    lines = list(csv.reader(f))

2. 헤더 / 데이터 구분

In [56]:
header, values = lines[0], lines[1:]

3. 데이터 컬럼 사전 만들기  
\- 사전 표기법  
\- __zip ( * values )__ : row를 column 으로 전치

In [57]:
data_dict = {h:v for h, v in zip(header, zip(*values))}

data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

### 6.1.4 JSON 데이터

#### JSON 문자열 → 파이썬 형태 변환
> __json.loads__

#### 파이썬 객체 → JSON 형태 변환
> __json.dumps__

#### JSON 데이터셋 → Series / DataFrame 변환
> __pandas.read_json__  
  
default : JSON 배열의 각 객체 = 테이블 row

In [60]:
!type examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [59]:
import json

data = pd.read_json('examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

#### Pandas 데이터 → JSON 저장
> __to_json__

In [61]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [62]:
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

***
  
## 6.2 이진 데이터 형식

### 6.2.2 엑셀 파일 데이터 
#### 데이터 읽어오기
> __pandas.read_excel__

In [63]:
xlsx = pd.ExcelFile('examples/ex1.xlsx')

pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [64]:
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

#### 데이터를 엑셀 파일로 저장
> __ExcelWrite__  
> __to_excel__

In [65]:
writer = pd.ExcelWriter('examples/ex2.xlsx')

frame.to_excel(writer, 'Sheet1')

writer.save()

In [66]:
frame.to_excel('examples/ex2.xlsx')